@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=M+PLUS+1p:wght@100&family=M+PLUS+1p:wght@300&family=M+PLUS+1p:wght@400&family=M+PLUS+1p:wght@700&family=Noto+Serif+JP&display=swap');

html{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 100%;
	text-align: center;
	line-height: 2em;
	margin: 0;
	padding: 0;
	border: none;
}

body{
	margin: 0;
	padding: 0;
	border: none;
}

#wrap{
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

#back{
	margin: 0 auto;
	padding: 0 15px 0 30px;
}

.center{text-align:center;}

h1{
	height: 1.5em;
	text-align: center;
	font-weight: normal;
	border-bottom: thin solid;
	max-width: 100%;
	padding: 0;
	margin:50px auto 10px;
}

h2{
	text-align: center;
	height: 2em;
	line-height: 2em;
	margin: 15px 0 1ex;
	padding: 2px auto 7px;
	border-left: solid 0.8ex #aaaaaa;
	border-right: solid 0.8ex #aaaaaa;
	border-top: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	font-weight:normal;
	font-size: 135%;
}

h3{
	text-align: center;
	height: 2em;
	line-height: 2em;
	margin: 15px 25px 1ex 0;
	padding: 2px auto 7px;
	border-left: solid 0.8ex #aaaaaa;
	border-right: solid 0.8ex #aaaaaa;
	border-top: solid 1px #aaaaaa;
	border-bottom: solid 1px #aaaaaa;
	font-weight:normal;
	font-size: 135%;
}

h4{
	display: block;
	font-weight: normal;
	padding: 0.2em 0 1em;
	margin: 0 0.5em;
}

h5{
	height: 2em;
	font-size: 100%;
	background: linear-gradient(transparent 60%, #bbb 60%);
	font-weight: normal;
}

#loader-bg {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: #111111;
	z-index: 1;
}
#loader {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 20px;
	margin-top: -175px;
	margin-left: -175px;
	text-align: center;
	color: #fff;
	z-index: 2;
}

a{
	font-size: 120%;
	display: inline-block;
	color: #777777;
	background-color: #dddddd;
	padding: 0 1em;
	margin: 1em;
	text-decoration: none;
	transition: 0.5s;
}

a:hover{
	color: #dddddd;
	background-color: #777777;
}

label{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 120%;
	display: block;
	margin: 1em 0 0;
}

.first{
	margin: 3px 0 0;
}

select{
	display: inline-block;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 105%;
	color: #666666;
	width: 10em;
	margin: 0 3px 0 0;
	padding: 0 3px;
	height: 2.7em;
	box-shadow: none;
	background-color: #eee;
	border: solid 1px #000;
}

option{
	font-family: "M PLUS 1p", sans-serif;
}

input[type]{
	font-family: "Noto Serif JP", serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 2em;
	color: #000;
	max-width: 500px;
	box-shadow: none;
	margin:0 auto;
	padding: 3px;
	background-color: #eee;
	border: solid 1px #000;
	-webkit-appearance: none;
	border-radius: 3px;
}
input[type=text]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 100%;
	color: #000;
	box-shadow: none;
	margin: 5px 0;
}

.messagearea{
	display: block;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 95%;
	resize: none;
	height: 6em;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: #000;
	width: 23em;
	box-shadow: none;
	margin:5px 0;
	padding: 3px;
	background-color: #eee;
	border: solid 1px #000;
	-webkit-appearance: none;
	border-radius: 3px;
}

button[name=fileCreate]{
	font-family: "M PLUS 1p", sans-serif;
	display: block;
	height: 40px;
	width: 200px;
	cursor: pointer;
	margin: 10px auto;
	padding: 0;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	background: #223a70;
	border: none;
	-webkit-appearance: none;
	border-radius: 1ex;
}

button#randomm{
	font-family: "M PLUS 1p", sans-serif;
	display: block;
	height: 40px;
	width: 200px;
	cursor: pointer;
	margin: 10px auto;
	padding: 0;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	background: #223a70;
	border: none;
	-webkit-appearance: none;
	border-radius: 1ex;
}

button[name=letsCreate]{
	font-family: "M PLUS 1p", sans-serif;
	display: block;
	height: 40px;
	width: 200px;
	cursor: pointer;
	margin: 10px auto;
	padding: 0;
	color: #223a70;
	text-shadow: none;
	box-shadow: none;
	background: #ffffff;
	border: solid 5px #223a70;
	-webkit-appearance: none;
	border-radius: 1ex;
}

input[type=time]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 120%;
	color: #000;
	width: 7em;
	margin: 0 7px 2px;
}

input[type=date]{
	font-family: "M PLUS 1p", sans-serif;
	font-size: 120%;
	color: #000;
	width: 10.5em;
	margin: 5px 7px;
}

input[type=file]{
	font-size: 95%;
	width: 20em;
	margin: 0 4px;
	padding: 6px;
}

form{
	text-align: center;
}

.sender{
	width: 20em;
}

.left{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	padding: 0 30px 0 0;
	margin: 0 auto;
	border: none;
}

#inputarea{
	text-align: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}

.notice{
	display: inline-block;
	padding: 10px;
	margin: 0;
	width: 23.5em;
	height: 33em;
	overflow: scroll;
	border: solid 1px #000000;
}

.newold{
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: top;
	height: 30em;
	padding: 0;
	width: 1em;
}
.new{
	margin: 0 0 26.5em;
	padding: 0;
}

#backPreview{
	display: block;
	margin: 0.2em 0.5em 0.3em;
	font-size: 100%;
	padding: 0;
}

#buttonThere{
	text-align: center;
	margin: 0;
	padding: 0;
}

.backPreview{
	width: 18em;
	height: 32em;
	border: none;
	margin: 0;
	padding: 0;
	object-fit: cover;
}

.frame{
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.canvas{
	margin: 0 auto;
	width: 750px;
	height: 1334px;
}

.view{
	max-width: 600px;
	max-height: 300px;
	margin: 0 auto;
	padding: 0;
	overflow: scroll;
}

#result{
	width: 25em;
	margin: 0;
	padding: 0;
	font-size: 100%;
}